@use '@/styles/variables';
@use '@/styles/mixins';
@use '@/styles/colors';

.input {
  @include mixins.transition(outline-color);
  --input-color: var(#{colors.getVar(primary, 600)});
  border: 0.0625rem solid rgb(var(--input-color));
  outline: 0.0625rem solid transparent;
  padding: mixins.spacing(sm) mixins.spacing(m);
  border-radius: mixins.spacing(big);
  background: white;

  &::placeholder {
    color: colors.getColor(neutral, 400);
  }

  &:hover,
  &:focus {
    outline-color: rgb(var(--input-color));
  }
}

.error {
  --input-color: var(#{colors.getVar(error, 500)});
  outline-color: rgb(var(--input-color));
  outline-width: 0.125rem;
}

.wordCount{
  margin-top: -2%;
  margin-right: -104%;
  margin-left: auto;
}
