@use '@/styles/variables' as vars;
@use '@/styles/mixins';
@use '@/styles/colors';

.mobile {
  @include mixins.media(tablet) {
    display: none;
  }
}

.desktop {
  display: none;
  @include mixins.media(tablet) {
    display: flex;
  }
}

.menu {
  margin: auto 0 auto auto !important;
  display: none;
  padding: mixins.spacing(m);
  order: 999;

  @include mixins.media(tablet) {
    display: inline-flex;
  }
}

.navLinks {
  counter-reset: navLinks;
  $self: &;

  @include mixins.media(tablet) {
    background-color: colors.getColor(secondary, 50);
    box-sizing: border-box;
    z-index: map-get(vars.$level, nav);
    padding: mixins.spacing(m) 0;
    margin: 7rem 0 0;
    inset: 0;
    width: 100%;
    height: calc(100% - 7rem);
    position: fixed;
    display: none;

    &.show {
      display: flex;
    }
  }

  &__item {
    justify-content: flex-start;
    margin-right: auto;

    &--active #{$self}__label::after {
      content: '';
      background-color: currentColor;
      border-radius: 9999rem;
      margin: auto 0 -0.5rem;
      inset: 0;
      position: absolute;
      height: 0.25rem;
      width: 100%;
    }
  }

  &__label {
    counter-increment: navLinks;
    position: relative;

    &::before {
      content: counter(navLinks) '.';
      margin-right: mixins.spacing(2x-sm);
    }
  }

  &__logout {
    margin: auto mixins.spacing(x-big) mixins.spacing(sm) !important;
  }
}

.form {
  width: 100%;
  max-width: 55rem;
  box-sizing: border-box;
  flex-basis: auto;

  &__body {
    > *[data-grid] {
      display: grid;
      grid-template-columns: repeat(2, minmax(1px, 1fr));
      gap: mixins.spacing(m);

      @include mixins.media(tablet) {
        grid-template-columns: 1fr;
      }
    }

    *[data-full] {
      grid-column: span 2;
      @include mixins.media(tablet) {
        grid-column: unset;
      }
    }

    *[data-start] {
      grid-column-start: 1;
    }
  }

  &__hr {
    background-color: colors.getColor(neutral, 400);
    margin: 0;
    border: none;
    width: 100%;
    height: 0.125rem;
  }

  &__foot {
    @include mixins.media(tablet) {
      flex-direction: column;
      align-items: stretch;
    }
  }
}

%banner {
  border-radius: mixins.spacing(x-big);
  padding: mixins.spacing(big);
}

.error {
  @extend %banner;
  background-color: colors.getColor(error, 50);
  border: 1px solid colors.getColor(error, 600);
}

.submitted {
  @extend %banner;
  background-color: colors.getColor(success, 50);
  border: 1px solid colors.getColor(success, 600);
}
