@use '@/styles/mixins';
@use '@/styles/colors';

.navLinks {
  counter-reset: navLinks;
  $self: &;

  &__item {
    justify-content: flex-start;

    &--active #{$self}__label::after {
      content: '';
      background-color: currentColor;
      border-radius: 9999rem;
      margin: auto 0 -0.5rem;
      inset: 0;
      position: absolute;
      height: 0.25rem;
      width: 100%;
    }
  }

  &__label {
    counter-increment: navLinks;
    position: relative;

    &::before {
      content: counter(navLinks) '.';
      margin-right: mixins.spacing(2x-sm);
    }
  }
}

.form {
  width: 100%;
  max-width: 55rem;
  box-sizing: border-box;
  padding: mixins.spacing(huge) mixins.spacing(x-big) mixins.spacing(m);
  flex-basis: auto;

  &__body {
    > *[data-grid] {
      display: grid;
      grid-template-columns: repeat(2, minmax(1px, 1fr));
      gap: mixins.spacing(m);

      @include mixins.media(tablet) {
        grid-template-columns: 1fr;
      }
    }

    *[data-full] {
      grid-column: span 2;
      @include mixins.media(tablet) {
        grid-column: unset;
      }
    }

    *[data-start] {
      grid-column-start: 1;
    }
  }

  &__hr {
    background-color: colors.getColor(neutral, 400);
    margin: 0;
    border: none;
    width: 100%;
    height: 0.125rem;
  }

  &__foot {
    @include mixins.media(tablet) {
      flex-direction: column;
      align-items: stretch;
    }
  }
}

.error {
  background-color: colors.getColor(error, 50);
  border: 1px solid colors.getColor(error, 600);
  border-radius: mixins.spacing(x-big);
  padding: mixins.spacing(big);
}
