@use '@/styles/colors';
@use '@/styles/mixins';

.container {
  display: grid;
  grid-template-columns: 19rem auto;
  height: 100%;

  @include mixins.media(tablet) {
    grid-template-rows: 7rem auto;
    grid-template-columns: 1fr;
  }
}

.content {
  box-sizing: border-box;
  padding: mixins.spacing(huge) mixins.spacing(x-big) mixins.spacing(lg);
  overflow: auto;
  height: 100%;

  @include mixins.media(tablet) {
    padding: mixins.spacing(x-big);
  }
}

.sidenav {
  border-right: 0.0625rem solid colors.getColor(neutral, 200);
  background-image: url('~@/assets/sidenav.png');
  background-position: bottom center;
  padding: mixins.spacing(lg);
  background-size: cover;

  @include mixins.media(tablet) {
    border-bottom: 0.0625rem solid colors.getColor(neutral, 200);
    border-right: none;
    gap: mixins.spacing(m) !important;
    flex-direction: row !important;
    padding: mixins.spacing(m);
    background-image: linear-gradient(
      134deg,
      rgba(255, 243, 200, 0.32) -18.12%,
      rgba(196, 236, 248, 0.19) 63.9%,
      rgba(196, 236, 248, 0.32) 95.79%
    );
  }
}

.status {
  margin-top: auto;
}

.logo {
  height: 5.5rem;
  margin: 0 auto;
  width: auto;

  @include mixins.media(tablet) {
    height: 2.75rem;
    margin: auto 0;
  }
}

.loader {
  margin-top: auto;
}
