@use '@/styles/variables' as vars;
@use '@/styles/mixins';
@use '@/styles/colors';

.why {
  position: relative;
}

.trigger {
  display: flex;
  align-items: center;
  gap: mixins.spacing(2x-sm);
  background: none;
  appearance: none;
  cursor: pointer;
  border: none;
  padding: 0;
}

.tooltip {
  box-shadow: 0 0 mixins.spacing(2x-sm) mixins.spacing(2x-sm)
    colors.getColor(shade, 100, $alpha: 0.05);
  background-color: colors.getColor(shade, 0);
  border-radius: mixins.spacing(x-big);
  padding: mixins.spacing(m);
  line-height: 1.5;
  border: none;

  position: absolute;
  height: fit-content;
  z-index: map-get(vars.$level, tooltip);
  margin: 0;
  inset: calc(100% + mixins.spacing(x-sm)) 0 0;
  display: none;
}

.show {
  display: block;
}
