@use '@/styles/mixins';

.frame {
  max-width: 40rem;
  margin: 0 auto;
  width: 100%;
}

.content {
  grid-template-columns: 1fr max-content;
  gap: mixins.spacing(x-big);
  align-items: flex-end;
  display: grid;
}

.error {
  align-items: center;
}
