@use '@/styles/mixins';
@use '@/styles/colors';
@use '@/styles/fonts';

html,
body {
  background-color: colors.getColor(secondary, 50);
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html {
  @include fonts.init;
}

dialog {
  z-index: 999999;
}

:root {
  @include colors.init;
}

.hidden {
  top: -99999rem;
  left: -99999rem;
  position: fixed;
  overflow: hidden;
  width: 0;
  height: 0;
}
