.container {
  @keyframes pulse {
    0% {
      opacity: 0.6;
    }
    40% {
      opacity: 1;
    }
    60% {
      opacity: 1;
    }
    100% {
      opacity: 0.6;
    }
  }

  animation: pulse 1.5s linear 0s infinite;
  height: 100%;
}

.icon {
  @keyframes spin {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(-360deg);
    }
  }

  animation: spin 5s linear 0s infinite;
  transform-origin: center;
  font-size: 5rem;
}
