@use '@/styles/mixins';

.container {
  height: 100%;
  max-width: 60rem;
  width: 100%;
  margin: auto;
}

.footer {
  margin-top: mixins.spacing(m);
}

.email {
  width: 100%;

  @include mixins.media(tablet) {
    align-items: stretch;
  }
}
